.moonSquareWrapper {
  --size: 150px;
  --diagonal: calc(var(--size) * sqrt(2));

  width: var(--diagonal);
  height: var(--diagonal);
  display: flex;
  align-items: center;
  justify-content: center;

  & .moonSquare {
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border);
    transform-origin: center;
    transform: rotate(45deg);
  }
}

