.moonSquare {
  --size: 50px;
  --rot-dif: calc(var(--size) / 2);

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  padding: var(--spacing-xl-double);
  border: 2px solid var(--border);
  transform-origin: center;
  transform: translate(var(--rot-dif), var(--rot-dif)) rotate(45deg);
}
