@mixin scroll-style($size: 10px,
  $thumb: none,
  $thumb-color: grey,
  $thumb-radius: 10px,
  $track-color: transparent,
  $track-radius: 10px) {

  // Respaldo para Firefox
  @supports not (selector(::-webkit-scrollbar-thumb)) {
    scrollbar-color: $thumb-color $track-color;
    scrollbar-width: thin;
  }

  // Navegadores basados en webkit
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    
    &-track {
      background-color: $track-color;
      border-radius: $track-radius;
      transition: background-color 200ms linear;
    }
    &-thumb {
      background-color: $thumb-color;
      background-image: $thumb;
      border-radius: $thumb-radius;
      transition: background-color 200ms linear;
    }
  }
}

.contact {
  margin-top: var(--spacing-s);
  width: 100%;
  padding-right: var(--spacing-m);

  &:hover {
    --scroll-track: black;
    --scroll-thumb-color: rgba(255, 255, 255, 0.1);
  }

  &:not(:hover) {
    --scroll-track: transparent;
    --scroll-thumb-color: transparent;
  }

  --scroll-size: 8px;
  --scroll-radius: 0px;

  @media only screen and (max-width: 768px) {
    overflow-y: unset;
    max-height: unset;
  }

  @media only screen and (min-width: 769px) {
    overflow-y: scroll;
    max-height: 70vh;
  }

  @include scroll-style(
    $size: var(--scroll-size, 10px),

    $thumb:  var(--scroll-thumb, none),
    $thumb-color: var(--scroll-thumb-color, grey),
    $thumb-radius: var(--scroll-thumb-radius, var(--scroll-radius)),
  
    $track-color: var(--scroll-track, transparent),
    $track-radius: var(--scroll-track-radius, var(--scroll-radius)),
  );

  & .divider {
    margin: var(--spacing-xl-double) 0 var(--spacing-xl);
  }
}
