@mixin scroll-style($size: 10px,
  $thumb: none,
  $thumb-color: grey,
  $thumb-radius: 10px,
  $track-color: transparent,
  $track-radius: 10px) {

  // Respaldo para Firefox
  @supports not (selector(::-webkit-scrollbar-thumb)) {
    scrollbar-color: $thumb-color $track-color;
    scrollbar-width: thin;
  }

  // Navegadores basados en webkit
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    
    &-track {
      background-color: $track-color;
      border-radius: $track-radius;
      transition: background-color 200ms linear;
    }
    &-thumb {
      background-color: $thumb-color;
      background-image: $thumb;
      border-radius: $thumb-radius;
      transition: background-color 200ms linear;
    }
  }
}

.project {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  padding-right: var(--spacing-l);

  &:hover {
    --scroll-track: black;
    --scroll-thumb-color: rgba(255, 255, 255, 0.1);
  }

  &:not(:hover) {
    --scroll-track: transparent;
    --scroll-thumb-color: transparent;
  }

  --scroll-size: 8px;
  --scroll-radius: 0px;

  @include scroll-style(
      $size: var(--scroll-size, 10px),

      $thumb:  var(--scroll-thumb, none),
      $thumb-color: var(--scroll-thumb-color, grey),
      $thumb-radius: var(--scroll-thumb-radius, var(--scroll-radius)),
    
      $track-color: var(--scroll-track, transparent),
      $track-radius: var(--scroll-track-radius, var(--scroll-radius)),
    );
  
  & p {
    color: var(--gray-300);
    font-family: var(--content-font);
  }
}
