.bgTexture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/cosmic-noise.png');
  background-repeat: repeat;
  opacity: 0.15;
  z-index: 2;
}

.page {
  display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.right {
  flex: 1;
  width: 100%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-l);
}
