.form {
  display: flex;
  flex-direction: column;
  width: 65%;

  color: var(--gray-500);
}

.row {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-m) 0;
  font-family: var(--content-font);
}

.input {
  margin: var(--spacing-s) 0;
  padding: var(--spacing-s);
  background: black;
  border: 1px solid var(--border);
  color: var(--gray-300);
  font-family: var(--content-font);
  outline: none;
}

.textarea {
  height: 150px;
  resize: none;
  font-family: var(--content-font);
}

.submit {
  position: relative;
  max-width: 200px;
  min-width: 150px;
  margin-left: auto;
  padding: var(--spacing-s) var(--spacing-m);
  background-color: transparent;
  border: 1px solid var(--border);
  color: var(--gray-500);
  cursor: pointer;
  transition: all 200ms linear;

  &:focus {
    border: 1px solid white;
  }

  &:hover {
    background-color: var(--accent-cream);
    color: black;
    border: 1px solid black;
  }
}

.error {
  font-family: var(--content-font);
  color: var(--accent-cream);
}
