.moons {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(var(--square-diagonal) * 5);
  left: calc(var(--sidebar-width) - (var(--moon-size) / 2));
  top: calc((var(--square-diagonal) / 2) - (var(--moon-size) / 2));
  z-index: 5;
}

.moon {
  width: var(--moon-size);
  height: var(--moon-size);
  margin-bottom: calc(var(--square-diagonal) - var(--moon-size));
}
