.moonSquareWrapper {
  width: var(--square-diagonal);
  height: var(--square-diagonal);
  display: flex;
  align-items: center;
  justify-content: center;

  & .moonSquare {
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border);
    transform-origin: center;
    transform: rotate(45deg);
    box-sizing: border-box;
  }
}

